<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/flash_error.css">
    <link rel="stylesheet" href="/static/generic.css">

    <title>{{ info['title'] }}</title>

    <style>
        .container {
            margin: 20px;
        }

        input {
            size: 10;
        }

        table {
            table-layout: fixed;
        }

        th {
            width: 150px;
        }

    </style>
</head>
<body>
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container" id="error-container">
        {% for message in messages %}
        <div class="error-message">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="display-4">{{ info['title'] }}</h1>
    <div id="table">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                {% for key in info['keys'] %}
                <th class="text-center">{{ key }}</th>
                {% endfor %}
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entry in info['entries'] %}
            <tr id="row_{{ entry[0] }}">
                {% for field in entry %}
                <th>
                    {% if info['keys'][loop.index - 1] != 'id' %}
                    <input class="form-control" name="{{ info['keys'][loop.index - 1] }}" value="{{ field }}"
                           onchange="onChangeEntry(this, '{{ info['keys'][loop.index - 1] }}')">
                    {% else %}
                    <input class="form-control" name="{{ info['keys'][loop.index - 1] }}" value="{{ field }}" disabled>
                    {% endif %}
                </th>
                {% endfor %}
                <th>
                    <form class="delete" action="/delete/{{ table_name }}" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        {% for key in info['keys'] %}
                        <input type="hidden" name="{{ key }}" value="{{ entry[loop.index - 1] }}">
                        {% endfor %}
                    </form>
                </th>
                <th>
                    <form class="update" action="/update/{{ table_name }}" method="post">
                        <input class="button btn btn-warning" type="submit" value="Update" disabled>
                        {% for key in info['keys'] %}
                        <input type="hidden" name="{{ key }}" value="{{ entry[loop.index - 1] }}">
                        {% endfor %}
                    </form>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <span class="table-add float-left mb-3 mr-2"><a href="#!" class="btn btn-success"
                                                        onclick="onAddEntry({{ info['keys'] }}, '{{table_name}}');">New Entry</a></span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="/static/table_template.js">
</script>
</body>
</html>