<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Admin</title>

    <link rel="stylesheet" href="/static/generic.css">
    <style>
        button {
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="display-4">Database tables</h1>
    <div class="row">
        {% for table_name in table_names %}
        <form action="/admin/{{ table_name }}">
            <button type="submit" class="btn btn-warning">{{ table_name }}</button>
        </form>
        {% endfor %}
    </div>
</div>
</body>
</html>