.friend-request {
    background-color: #b2cbd4;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.friend-request-top {
    font-size: 12px;
}

.default-spacer {
    margin-right: 20px;
}

.half-side-view {
    padding: 5px;
}

.side-area {
    background-color: #548292;
    border-radius: 5px;
    padding-bottom: 3px;
}

#my-navbar {
    background-color: #548292;
    margin-bottom: 10px;
}

.small-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #548292;
    font-size: 20px;
    padding: 10px;
}

.request-button {
    font-size: 12px;
}

#full-side-view {
    border: 2px;
    border-style: solid;
    border-color: #548292;
    padding-top: 10px;
    background-color: #b2cbd4;
}

#main-content {
    padding-right: 30px;
}