<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/flash_error.css">
    <link rel="stylesheet" href="/static/generic.css">
    <link rel="stylesheet" href="/static/user_profile.css">
    <link rel="stylesheet" href="/static/posts.css">

    <title>{{ username }}</title>
</head>
<body>

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container" id="error-container">
        {% for message in messages %}
        <div class="error-message">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <nav class="navbar navbar-default" id="my-navbar">
        {% if current_user.id != username %}
        <a href="/users/{{ current_user.id }}" class="btn btn-info" role="button">Home</a>
        {% endif %}
        <div class="md-form mt-0">
            <form class="form-inline" action="/search" method="get">
                <div class="form-group mb-2">
                    <select class="custom-select" name="attribute">
                        <option value="first_name">First Name</option>
                        <option value="last_name">Last Name</option>
                        <option value="username">username</option>
                        <option value="email">email</option>
                    </select>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Search</label>
                    <input class="form-control" type="text" name="query" id="inputPassword2" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>

        <form action="/logout">
            <input type="submit" class="btn btn-danger" value="Log Out"/>
        </form>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7" id="main-content">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <img src="{{ profile_photo_path }}">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h3>{{ first_name }}</h3>
                        <h3>{{ last_name }}</h3>
                        <h3>{{ birth_date }}</h3>
                        {% if current_user.is_authenticated and current_user.id == username %}
                        <form action="/update_user" enctype="multipart/form-data" method="post">
                            <label for="files" class="btn btn-outline-info">choose new profile photo</label>
                            <input id="files" type="file" style="display:none;" name="new_profile_photo">
                            <input class="btn btn-info" type="submit" value="Change">
                        </form>
                        {% else %}
                        {% if is_friend < 3 %}
                        <form action="/add_friend" method="post">
                            {% if is_friend == 1 %}
                            <input value="Friend" class="btn btn-primary" disabled>
                            {% else %}
                            {% if is_friend == 0 %}
                            <input type="hidden" name="username" value="{{ username }}">
                            <input type="submit" class="btn btn-primary" value="Add friend">
                            {% else %}
                            <input value="Request Sent" class="btn btn-primary" disabled>
                            {% endif %}
                            {% endif %}
                        </form>
                        {% else %}
                        <form action="/resolve_friend_request" method="post">
                            <input name="user_id" value="{{ user_id }}" type="hidden">
                            <input type="submit" name="accept" value="Accept" class="btn btn-info default-spacer">
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="container-fluid" id="posts-area">
                    <h1 class="display-4 big-heading">Posts</h1>
                    {% if current_user.is_authenticated and current_user.id == username %}
                    <button onclick="display_post_box()" class="btn-lg btn-info">New Post</button>
                    <div id="post-register" style="display: none">
                        <form action="/create_post" method="POST">
                            <input type="text" name="content" class="form-control">
                            <input type="submit" name="Post" class="btn btn-success">
                            <input type="hidden" name="username" value="{{ username }}">
                        </form>
                    </div>
                    {% endif %}
                    {% for post in posts %}
                    <div class="post-div container">
                        <div class="post-content-div">
                            <div class="post-content">{{ post.content }}</div>
                            <div class="post-time"><b>{{ post.date_added }} {{ post.time_added }}</b></div>
                        </div>
                        {% for comment in post.comments %}
                        <div class="comment-div row">
                            <div class="comment-content col-lg-8">{{ comment.content }}</div>
                            <div class="post-time">
                                <a href="/users/{{comment.username }}">
                                    <img src="{{ comment.user_profile_photo }}"
                                         style="width:30px;height:30px;display:inline">
                                </a>
                                {{ comment.user }}<br>
                                <b>{{ comment.date_added }} {{ comment.time_added }}</b>
                            </div>
                        </div>
                        {% endfor %}
                        {% if current_user.is_authenticated %}
                        <button class="btn-sm btn-info" onclick="display_comment_box({{ post.id }})">
                            New Comment
                        </button>
                        <div class="comment-register" id="comment_post_id_{{ post.id }}" style="display: none">
                            <form action="/create_comment" method="POST">
                                <input type="text" name="content" class="form-control">
                                <input type="submit" value="Post" class="btn-sm btn-info">
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="full-side-view" class="col-lg-5 row">
                <div class="col-lg-6 half-side-view">
                    <div class="side-area">
                        <h2 class="small-heading">My Friends</h2>
                        {% for friend in my_friends %}
                        <div class="friend-request row justify-content-center">
                            <div class="friend-request-top">
                                <div style="display:inline;">
                                    <a href="/users/{{ friend.username }}">
                                        <img src="{{ friend.profile_photo_path }}" style="width:40px;height:40px;">
                                    </a>
                                </div>
                                <div style="display:inline; white-space:nowrap;">
                                    <b>{{ friend.first_name }} {{ friend.last_name }}</b>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if friend_requests %}
                    <div class="side-area" style="margin-top: 10px;">
                        <h2 class="small-heading">Friend Requests</h2>
                        {% for request in friend_requests %}
                        <div class="friend-request row justify-content-center">
                            <div class="friend-request-top">
                                <div style="display:inline;">
                                    <a href="/users/{{ request.username }}">
                                        <img src="{{ request.profile_photo_path }}" style="width:40px;height:40;">
                                    </a>
                                </div>
                                <div style="display:inline; white-space:nowrap;">
                                    <b>{{ request.first_name }} {{ request.last_name }}</b>
                                </div>
                            </div>
                            <form action="/resolve_friend_request" method="post">
                                <input name="user_id" value="{{ request.id }}" type="hidden">
                                <div class="row" style="margin-top: 10px">
                                    <input type="submit" name="accept" value="Accept"
                                           class="request-button btn btn-info default-spacer">
                                    <input type="submit" name="reject" value="Reject"
                                           class="request-button btn btn-warning">
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 half-side-view">
                    <div class="side-area">
                        <h2 class="small-heading">My Groups</h2>
                        {% for group in my_groups %}
                        <div class="friend-request row justify-content-center">
                            <div class="friend-request-top">
                                <a href="/groups/{{ group.name }}">
                                    <div style="display:inline; white-space:nowrap;">
                                        <b>{{ group.name }}</b>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if group_invitations %}
                    <div class="side-area" style="margin-top: 10px;">
                        <h2 class="small-heading">Group Invitations</h2>
                        {% for invitation in group_invitations %}
                        <div class="friend-request row justify-content-center">
                            <div class="friend-request-top">
                                <div style="display:inline;">
                                    <a href="/users/{{ invitation.username }}">
                                        <img src="{{ invitation.profile_photo_path }}" style="width:40px;height:40;">
                                    </a>
                                </div>
                                <div style="display:inline; white-space:nowrap;">
                                    <b>{{ invitation.first_name }} {{ invitation.last_name }}</b>
                                </div>
                            </div>
                            <b>{{ invitation.group_name }}</b>
                            <form action="/resolve_group_invitation" method="post">
                                <input name="host_id" value="{{ invitation.host_id }}" type="hidden">
                                <input name="group_id" value="{{ invitation.group_id }}" type="hidden">
                                <div class="row" style="margin-top: 10px">
                                    <input type="submit" name="accept" value="Accept"
                                           class="request-button btn btn-info default-spacer">
                                    <input type="submit" name="reject" value="Reject"
                                           class="request-button btn btn-warning">
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/user_profile.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>